{:paths ["src"]
 :aliases
 {:dev
  {:extra-paths ["dev" "test"]
   :extra-deps
   {funcool/promesa {:mvn/version "4.0.2"}
    manifold/manifold {:mvn/version "0.1.9-alpha4"}
    yada/yada {:mvn/version "1.2.15.1"}
    aleph/aleph {:mvn/version "0.4.7-alpha7"}
    com.datomic/datomic-free {:mvn/version "0.9.5697"}
    org.clojure/tools.namespace {:mvn/version "0.3.1"}}}
  :jar
  {:replace-deps {pack/pack.alpha
                  {:git/url "https://github.com/juxt/pack.alpha.git"
                   :sha "2769a6224bfb938e777906ea311b3daf7d2220f5"}}
   :main-opts ["-m" "mach.pack.alpha.skinny" "--no-libs" "--project-path" "clip.jar"]}

  :cljs-repl
  {:extra-deps
   {org.clojure/clojurescript {:mvn/version "1.10.520"}}
   :main-opts ["-m" "cljs.main"]}

  :test {:extra-paths ["test"]
         :extra-deps {com.cognitect/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner.git"
                       :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}
                      funcool/promesa {:mvn/version "4.0.2"}
                      manifold/manifold {:mvn/version "0.1.8"}}
         :main-opts ["-m" "cognitect.test-runner"]}
  :test-gen {:extra-paths ["test-gen"]
             :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}
             :main-opts ["-m" "juxt.clip.gen-test"]}}}
